@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "პაროლის გადაყენების დასტური";
}

<h1>@ViewData["Title"]</h1>
<p>
    პაროლი გადაყენდა წარმატებით. <a asp-page="./Login">შესვლისთვის დააჭირეთ აქ</a>.
</p>
